<div id="comments">
  <font color="#FF0000">评论系统加载失败！请确保Github能够访问。</font>
</div>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  const gitment = new Gitment({
    owner: 'crow02531',
    repo: 'crow02531.github.io',
    oauth: {
      client_id: '2c1eb31e6ee971348521',
      client_secret: 'c789eb415cce98641c3fb2c7582776aa5fadf58d',
    }
  })

  var elem = document.getElementById('comments')
  elem.innerHTML = ''
  gitment.render(elem)
</script>