// Banner
//
// Styles for elements in banner.

.banner-title {
  font-size: 2.5rem;
  margin-left: 8%;
  opacity: .9;
}

.banner-tagline {
  font-size: 1rem;
  margin-left: 10%;
  opacity: .8;
}

@media (max-width: $md-width) {
  .banner-tagline,
  .banner-title {
    margin-left: auto;
    margin-right: auto;
  }

  .showcase-banner {
    .banner-title {
      font-size: 2rem;
      margin-left: .5em;
    }
  }
}