// Body resets
//
// Update the foundational and global aspects of the page.

* {
  box-sizing: border-box;
  word-break: break-word;
}

body {
  margin: 0;
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $body-color;
  background-color: $body-bg;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  strong {
    color: inherit;
  }
}

img {
  max-width: 100%;
  border-radius: $border-radius;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 0 solid $border-color;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  padding: .15rem;
  background-color: $yellow-100;
  border-radius: .125rem;
}