// Layout
//
// Styles for managing the structural hierarchy of the site.

.home-header {
  margin-top: -1em;
  margin-bottom: $spacer-3;
}

%content {
  padding-top: $spacer-2;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 100%;
}

.page-content {
  @extend %content;
}

.post-content {
  @extend %content;
}

.page-sidebar {
  display: flex;
  padding: $spacer;
  background: center / cover;
  height: 100vh;
  width: 100%;
  color: $gray-200;
}

.post-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: center / cover;
  width: 100%;
  height: 430px;
  margin-bottom: 2em;
  color: white;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.pagination {
  font-size: .9em;
  margin: auto;
  width: 30%;
}

footer {
  margin-top: $spacer-3;
  margin-bottom: $spacer-3;
}

// on medium-sized screens and above (e.g. computer)
@media (min-width: $md-width) {
  %content {
    width: 66.6%;
  }

  .page-content {
    padding-top: $spacer-3;
    padding-left: $spacer-3;
    padding-right: $spacer-3;
    margin-left: 25%;
  }

  .page-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
  }

  .home-header {
    margin-top: -2em;
  }
}

// on screens under medium (e.g. phone)
@media (max-width: $md-width) {
  .post-banner {
    height: 260px;
  }

  .pagination {
    width: 70%;
  }
}