// Posts
//
// Each post is wrapped in `.post` and is used on default and post layouts.

.post-entry {
  border-bottom: 1px solid $border-color;
  margin-bottom: $spacer-3;
}

.post {
  font-family: $text-font;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .post-meta {
    font-family: $body-font;
  }

  li+li {
    margin-top: .25rem;
  }
}

.post-title {
  color: $heading-color;
  margin-top: 0;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.post-meta {
  display: block;
  margin-top: -.5rem;
  margin-bottom: $spacer;
  color: $gray-600;
}

.post-tags-section {
  display: block;
  padding: $spacer 0;
  color: $gray-600;
  font-family: $body-font;
}

.post-tags-icon {
  display: inline-block;
  margin-right: $spacer;
}

.post-tags {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: $spacer;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $body-bg;
        background-color: $link-hover-color;
      }
    }
  }
}

.post-tag {
  padding: .1em .5em;
  border: 1px solid $border-color;
  border-radius: .5em;
}