<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/csshake@1.7.0/dist/csshake-hard.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>
    <script>MathJax = { tex: { inlineMath: [['$', '$']], processEscapes: true } };</script>

    {% seo %}
  </head>

  <body>
    <main>
      {{ content }}
    </main>

    <script src="https://kit.fontawesome.com/6bacd3d52f.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/smiles-drawer@2.1.7/dist/smiles-drawer.min.js"></script>
    <script>SmiDrawer.apply({ scale: 1 });</script>
  </body>
</html>