<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/menus-min.css">
    <link rel="stylesheet" href="https://unpkg.com/csshake@1.7.0/dist/csshake-hard.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    {% seo %}
  </head>

  <body>
    {{ content }}
  </body>
</html>