---
layout: default
---

{%- assign l = site.data.banner | size -%}
{%- assign i = page.content | size | modulo: l -%}
{%- assign selected_banner = site.data.banner[i] -%}

<div class="pure-g">
  <div class="post-banner pure-u-1" style="background-image: url({{ selected_banner.url }});">
    <div class="banner-title">
      <a href="/">{{ site.title }}</a>
    </div>
    {%- if selected_banner.title -%}
      <div class="banner-tagline">
        {{ selected_banner.title }}
      </div>
    {%- endif -%}
  </div>

  <div class="post-content pure-u-1 pure-u-md-2-3">
    <article class="post">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-meta">
        {%- assign date_format = site.date_format | default: "%-d %b %Y" -%}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
      </div>

      {{ content }}

      {%- if page.tags -%}
        <div class="post-tags-section">
          <i class="post-tags-icon fas fa-tags"></i>
          <ul class="post-tags">
            {%- for tag in page.tags -%}
              <li>
                {%- assign slugified_tag = tag | slugify -%}
                {%- if site.navigation.tags -%}
                  <a class="post-tag" href="{{ site.navigation.tags }}#{{ slugified_tag }}">{{ slugified_tag }}</a>
                {%- else -%}
                  <span class="post-tag">{{ slugified_tag }}</span>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if page.comments != false -%}
        {%- include comments.html -%}
      {%- endif -%}
    </article>

    {%- include footer.html -%}
  </div>
</div>